In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(1, 100001):
    if i % 7 == 0 and i % 50 == 0 and i % 500 == 0 and i % 1500 ==0:
        print(i)

10500
21000
31500
42000
52500
63000
73500
84000
94500

In [16]:
num = 2
for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [8]:
a = 2
b = 3
c = 4
for i in range(1, 11):
    print(a, 'x', i, '=', a*i, "\t\t", b, 'x', i, '=', b*i, "\t\t", c, 'x', i, '=', c*i)
#used tab character "t/t for column"

2 x 1 = 2 		 3 x 1 = 3 		 4 x 1 = 4
2 x 2 = 4 		 3 x 2 = 6 		 4 x 2 = 8
2 x 3 = 6 		 3 x 3 = 9 		 4 x 3 = 12
2 x 4 = 8 		 3 x 4 = 12 		 4 x 4 = 16
2 x 5 = 10 		 3 x 5 = 15 		 4 x 5 = 20
2 x 6 = 12 		 3 x 6 = 18 		 4 x 6 = 24
2 x 7 = 14 		 3 x 7 = 21 		 4 x 7 = 28
2 x 8 = 16 		 3 x 8 = 24 		 4 x 8 = 32
2 x 9 = 18 		 3 x 9 = 27 		 4 x 9 = 36
2 x 10 = 20 		 3 x 10 = 30 		 4 x 10 = 40

In [48]:
dic1 = {
    'Faisal': "03021412323",
    'Saad': "03233131310",
    'Saddam': "03032333131",
    'Zeeshan': "03230303000" , 
}
a = input("Enter your text here: ")
for i in dic1.keys():
    if i == a:
        print(dic1[i])
        break
    else:
        print("Not in the list")

Enter your text here: Faisal
03021412323